.footer {
  background: #1A1A1A;
  height: 180px;
  padding: 0 100px;
}

.footerPhoneNum {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.madeBy {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.footerLogoName {
  :global {
    span {
      color: #5fc6b6
    }
    .ant-typography {
      font-size: 24px;
      font-weight: 700;
      color: white;
      font-family: SF-Pro-Display-Bold, serif;
    }
  }
}

@media only screen and (max-width: 1024px){
  .footer {
    padding: 0 30px;
  }
}