@font-face {
    font-family: 'SF-Pro-Display-Bold';
    src: url('../public/fonts/SF-Pro-Display-Bold.otf');
}
@font-face {
    font-family: 'SF-Pro-Display-Regular';
    src: url('../public/fonts/SF-Pro-Display-Regular.otf');
}


* {
    font-family: SF-Pro-Display-Regular, serif !important;
}


body {
    margin: 0;
    background: #F8FFFE;
}


a,
a:focus,
a:active {
    outline: none;
    color: white;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.ant-form-item {
    margin: 0;
}

body .ant-input-lg {
    height: 55px;
}